binary "https://raw.githubusercontent.com/yandexmobile/metrica-sdk-ios/master/YandexMobileMetrica.json" ~> 4.0.0
github "Moya/Moya" == 14.0.1
github "Swinject/Swinject" == 2.7.1
github "ReactiveX/RxSwift" ~> 5.0
github "realm/realm-cocoa" == 10.20.2
github "SnapKit/SnapKit" ~> 4.0.0
github "airbnb/lottie-ios" == 3.2.1
